<!DOCTYPE html>
<html lang="en">


<head>
    <% include partials/head %>
</head>

<body>
    <div class="body-inner">
        <div id="topbar" class="topbar-fullwidth d-none d-xl-block d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="top-menu">
                            <li><a href="#">Phone: +1 (234) 567-890</a></li>
                            <li><a href="#">Email: contact@inspiro-media.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-none d-sm-block">
                        <div class="social-icons social-icons-colored-hover">
                            <ul>
                                <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-google"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li class="social-pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i></a></li>
                                <li class="social-linkedin"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/header %>


        <section class="m-t-80 p-b-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-error-404">404</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-left">
                            <h1 class="text-medium">Ooops, This Page Could Not Be Found!</h1>
                            <p class="lead">The page you are looking for might have been removed, had its name changed,
                                or is temporarily unavailable.</p>
                            <div class="seperator m-t-20 m-b-20"></div>
                            <div class="search-form">
                                <p>Please try searching again</p>
                                <form action="http://www.inspirothemes.com/polo/search-results-page.html" method="get"
                                    class="form-inline">
                                    <div class="input-group input-group-lg">
                                        <input type="text" aria-required="true" name="q"
                                            class="form-control widget-search-form" placeholder="Search for pages...">
                                        <div class="input-group-append">
                                            <span class="input-group-btn">
                                                <button type="submit" id="widget-widget-search-form-button"
                                                    class="btn"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
    <% include partials/script %>
    </body>
    </html>